@let b = book();
@if (b) {
  <mat-card>
    <mat-card-content>
      <!-- Top Section -->
      <div class="top-section">
        <!-- Cover -->
        @if (b.images?.[0]?.url; as url) {
          <img
            class="cover"
            [src]="url"
            [alt]="b.title"
          />
        }
        <!-- Content -->
        <div class="content">
          <h1 class="mat-headline-medium primary-text" >
            {{ b.title | uppercase}}
          </h1>
          <h2 class="mat-title-medium secondary-text">
            {{ b.subtitle }}
          </h2>
          <mat-divider class="divider"></mat-divider>
          <!-- Meta -->
          <div class="meta">
            <div>
              <strong>Autoren</strong><br>
              @for (author of b.authors; track author.id; let l = $last) {
                {{ author.firstName }} {{ author.lastName }}@if(!l){, }
              }
            </div>
            <div>
              <strong>ISBN</strong><br>
              {{ b.isbn }}
            </div>
            <div>
              <strong>Erschienen</strong><br>
              {{ b.published | date: 'longDate'}}
            </div>
            <div>
              <strong>Rating</strong><br>
              @if (b.rating) {
                @for (r of getRating(b.rating); track $index) {
                  <mat-icon color="warn">star</mat-icon>
                }
              }
            </div>
          </div>
        </div>
      </div>
      <!-- Description -->
      <mat-divider class="divider"></mat-divider>
      <div>
        <div class="mat-subtitle-1"><strong>Beschreibung</strong></div>
        <p>{{ b.description }}</p>
      </div>
      <!-- Thumbnails -->
      <div class="thumbnails">
        @for (thumbnail of b.images; track thumbnail) {
          <img [src]="thumbnail.url" />
        }
      </div>
      <!-- Back Button -->
      <button mat-raised-button color="primary" [routerLink]="'/books'">
        <mat-icon>arrow_back</mat-icon>
        Zurück zur Buchliste
      </button>

      <!-- Delete Button -->
      <button mat-raised-button color="warn" (click)="removeBook()">
        <mat-icon>delete</mat-icon>
        Löschen
      </button>
    </mat-card-content>
  </mat-card>

  <h2>Testing the subnavigation</h2>
  <nav>
    <ul>
      <li><a [routerLink]="'/books/'+b.isbn+'/first'">
        Erste Komponente</a></li>
      <li><a [routerLink]="'/books/'+b.isbn+'/second'">
        Zweite Komponente</a></li>
    </ul>
  </nav>
  <router-outlet/>
}

